```
# Database
app.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.ENV
.ENV.local
.env
.env.local
.env.*
.python-version
.pytest_cache/
.mypy_cache/
.coverage
coverage/
htmlcov/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
*.swo
*.tmp
```